h1{
    font-size: 1.25rem;
}
.container{
    background: var(--gray-800);
    border-radius: 8px;
}
.headeritems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    padding: 1rem;

    border-bottom: 1px solid var(--gray-600);
}
.container header svg{
    background: var(--gray-600);
    cursor: pointer;
    display: flex;
    color: var(--white);
    align-items: center;
    border-radius: 2px;
    padding: 4px;
}
.headeritems button{
    border: none;
    background-color: transparent;
    border-radius: 5px;
}
.author{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5rem;
}
.author > p{
    margin-left: 0.438rem;
    color: var(--gray-400);
}
.boxItem{
display: flex;
padding-left: 1.25rem;
padding-bottom: 0.625rem;
padding-top: 0.625rem;
}
.author img{
    height: 20px;
    width: 20px;
    border-radius: 100px;
}
.taskItem{
    display: block;
}
.taskItem > p{
    color: var(--green-500);
    margin-bottom: 0.625rem;
}
.exploreMore{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--gray-700);
    border-radius: 0px 0px 8px 8px;
    min-height: 3.125rem;
    color:   var(--gray-300);
}


.exploreMore > strong{
    padding-left: 1.25rem;
}